.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}



/** Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.hll { background-color: #ffffcc; }

.c { color: #408080; font-style: italic; }

/* Comment */
.err { border: 1px solid #FF0000; }

/* Error */
.k { color: #008000; font-weight: bold; }

/* Keyword */
.o { color: #666666; }

/* Operator */
.cm { color: #9AA5AD; font-style: italic; }

/* Comment.Multiline */
.cp { color: #BC7A00; }

/* Comment.Preproc */
.c1 { color: #9AA5AD; font-style: italic; }

/* Comment.Single */
.cs { color: #408080; font-style: italic; }

/* Comment.Special */
.gd { color: #A00000; }

/* Generic.Deleted */
.ge { font-style: italic; }

/* Generic.Emph */
.gr { color: #FF0000; }

/* Generic.Error */
.gh { color: #000080; font-weight: bold; }

/* Generic.Heading */
.gi { color: #00A000; }

/* Generic.Inserted */
.go { color: #808080; }

/* Generic.Output */
.gp { color: #000080; font-weight: bold; }

/* Generic.Prompt */
.gs { font-weight: bold; }

/* Generic.Strong */
.gu { color: #800080; font-weight: bold; }

/* Generic.Subheading */
.gt { color: #0040D0; }

/* Generic.Traceback */
.kc { color: #008000; font-weight: bold; }

/* Keyword.Constant */
.kd { color: #229EFF; font-weight: bold; }

/* Keyword.Declaration */
.kn { color: #008000; font-weight: bold; }

/* Keyword.Namespace */
.kp { color: #008000; }

/* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold; }

/* Keyword.Reserved */
.kt { color: #B00040; }

/* Keyword.Type */
.m { color: #666666; }

/* Literal.Number */
.s { color: #CB0C6A; }

/* Literal.String */
.na { color: #C38D00; }

/* Name.Attribute */
.nb { color: #008000; }

/* Name.Builtin */
.nc { color: #0000FF; font-weight: bold; }

/* Name.Class */
.no { color: #880000; }

/* Name.Constant */
.nd { color: #AA22FF; }

/* Name.Decorator */
.ni { color: #999999; font-weight: bold; }

/* Name.Entity */
.ne { color: #D2413A; font-weight: bold; }

/* Name.Exception */
.nf { color: #0000FF; }

/* Name.Function */
.nl { color: #A0A000; }

/* Name.Label */
.nn { color: #0000FF; font-weight: bold; }

/* Name.Namespace */
.nt { color: #0081E5; font-weight: bold; }

/* Name.Tag */
.nv { color: #19177C; }

/* Name.Variable */
.ow { color: #AA22FF; font-weight: bold; }

/* Operator.Word */
.w { color: #bbbbbb; }

/* Text.Whitespace */
.mf { color: #666666; }

/* Literal.Number.Float */
.mh { color: #666666; }

/* Literal.Number.Hex */
.mi { color: #666666; }

/* Literal.Number.Integer */
.mo { color: #666666; }

/* Literal.Number.Oct */
.sb { color: #BA2121; }

/* Literal.String.Backtick */
.sc { color: #BA2121; }

/* Literal.String.Char */
.sd { color: #BA2121; font-style: italic; }

/* Literal.String.Doc */
.s2 { color: #D50069; }

/* Literal.String.Double */
.se { color: #BB6622; font-weight: bold; }

/* Literal.String.Escape */
.sh { color: #BA2121; }

/* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold; }

/* Literal.String.Interpol */
.sx { color: #008000; }

/* Literal.String.Other */
.sr { color: #BB6688; }

/* Literal.String.Regex */
.s1 { color: #BA2121; }

/* Literal.String.Single */
.ss { color: #19177C; }

/* Literal.String.Symbol */
.bp { color: #008000; }

/* Name.Builtin.Pseudo */
.vc { color: #19177C; }

/* Name.Variable.Class */
.vg { color: #19177C; }

/* Name.Variable.Global */
.vi { color: #19177C; }

/* Name.Variable.Instance */
.il { color: #666666; }

/* Literal.Number.Integer.Long */
.nx { color: #4C556B; }

#dropzone { margin-bottom: 3rem; }

.dropzone { border: 2px dashed #0087F7; border-radius: 5px; background: white; }
.dropzone .dz-message { font-weight: 400; }
.dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }



.dropzone { 
  height: 100%; font-family: Roboto, "Open Sans", sans-serif; font-size: 20px; font-weight: 300; line-height: 1.4rem; background: #F3F4F5; color: #646C7F; text-rendering: optimizeLegibility; }
@media (max-width: 600px) { .dropzone { font-size: 18px; } }
@media (max-width: 400px) { .dropzone { font-size: 16px; } }




/* Style nav-bar-tab  */
.nav-tabs-custom > li > a {
  font-weight: 600;
  padding: 2px 20px 10px 15px;
  border-radius: 0 10px 0 0;
  line-height: 1.42857;
  margin-right: 2px;
}

.tabs-container .nav-tabs-custom > li.active > a, 
.tabs-container .nav-tabs-custom > li.active > a:hover, 
.tabs-container .nav-tabs-custom > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #3498db #3498db #e7eaec #e7eaec;
    border-image: none;
    border-style: solid;
    border-width: 2px 2px 1px 1px;
}

.ibox-tools a {
    color: #fff;
    cursor: pointer;
    margin-left: 5px;
}

.ibox-title-success{
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.ibox-content-success {
    background-color: #ffffff;
    border-color: #1ab394;
    border-image: none;
    border-width: 1px;
    color: inherit;
    padding: 15px 20px 20px;
    overflow: auto;
}


