<div class="row">
	<div class="col-xs-4 form-group form-group-sm">	
		<label class="col-xs-12 text-center">{{dateLabel}}</label>		
		<select ng-model="selectedDay" 
			class="form-control input-sm" 
			ng-change="updateValue()"
			ng-options="day for day in range(maxDays)">
			<option value="">{{dateLabel}}</option>
		</select>
	</div>
	<div class="col-xs-4 form-group form-group-sm">
		<label class="col-xs-12 text-center">{{monthLabel}}</label>		
		<select ng-model="selectedMonth" 
			class="form-control input-sm"
			ng-change="monthOrYearChanged()" 
			ng-options="month.id as month.name for month in months">			
			<option value="">{{monthLabel}}</option>
		</select>
	</div>
	<div class="col-xs-4 form-group form-group-sm">
		<label class="col-xs-12 text-center">{{yearLabel}}</label>			
		<select ng-model="selectedYear" 
			class="form-control input-sm" 
			ng-change="monthOrYearChanged()"
			ng-options="year for year in years">
			<option value="">{{yearLabel}}</option>
		</select>
	</div>
</div>