<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p>
				Busca información dentro de los atributos simples de cada objeto dentro del array. Soporta multiples criterios de busqueda, separados por espacios.
			</p>
			<br>
		</div>
		<div class="col-md-4">
			<span>Nombre</span>
			<input type="text" ng-model="filter.name"/>
		</div>
		<div class="col-lg-12">
			<table class="table">
				<thead>
					<th>
						ID
					</th>
					<th>
						Nombre
					</th>
					<th>
						Apellido Paterno
					</th>
					<th>
						Apellido Materno
					</th>
					<th>
						Edad
					</th>
					<th>
						Sexo
					</th>
				</thead>
				<tbody>
					<tr ng-repeat="user in users | advancedFilter : filter.name">
						<td>
							{{user.id}}
						</td>
						<td>
							{{user.nombre}}
						</td>
						<td>
							{{user.apellidoPaterno}}
						</td>
						<td>
							{{user.apellidoMaterno}}
						</td>
						<td>
							{{user.edad}}
						</td>
						<td>
							{{user.sexo}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>