<div class="container">
	<div class="row">
		<div class="cols-md-4">
			<span>Nombre</span>
			<input data-eht-capitalize ng-model="person.name"/>
		</div>
		<div class="cols-md-8">
			<pre>{{person.name}}</pre>
		</div>
	</div>
</div>