<div class="container">
	<div class="row">
		<div class="cols-md-4">
			<span>EhtCatalogs.getCountries()</span>
			<button class="btn btn-success"
					ng-click="getCountries()" 
					type="button">Send</button>
		</div>
		<div class="cols-md-8">
			<pre>{{results.countries}}</pre>
		</div>
	</div>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtCatalogs.getClinicalStudiesByHint()</span>
			<input type="text" placeholder="Hint" ng-model="clinicalStudiesHint"></input>
			<button class="btn btn-success"
					ng-click="getClinicalStudiesByHint()" 
					ng-disabled="clinicalStudiesHint == null"
					type="button">Send</button>
		</div>
		<div class="cols-md-8">
			<pre>{{results.clinicalStudies}}</pre>
		</div>
	</div>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtCatalogs.getClinicalServicesByHint()</span>
			<input type="text" placeholder="Hint" ng-model="clinicalServicesHint"></input>
			<button class="btn btn-success"
					ng-click="getClinicalServicesByHint()"
					ng-disabled="clinicalServicesHint == null"
					type="button">Send</button>
		</div>
		<div class="cols-md-8">
			<pre>{{results.clinicalServices}}</pre>
		</div>
	</div>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtQuestionnairesCatalog.getDiabetesQuestionnaire()</span>
			<button class="btn btn-success"
					ng-click="getDiabetesQuestionnaire()" 
					type="button">Send</button>
		</div>
		<div class="cols-md-8">
			<pre>{{results.diabetesQuestionnaire}}</pre>
		</div>
	</div>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtQuestionnairesCatalog.getHeartQuestionnaire()</span>
			<button class="btn btn-success"
					ng-click="getHeartQuestionnaire()" 
					type="button">Send</button>
		</div>
		<div class="cols-md-8">
			<pre>{{results.heartQuestionnaire}}</pre>
		</div>
	</div>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtCatalogs.getMedicinesNamesByHint()</span>
			<input type="text" ng-model="medicineName" placeholder="Add medicine">
			<button class="btn btn-success"
					ng-click="getMedicinesNamesByHint()" 
					type="button">Send</button>
		</div>
		<div class="cols-md-8">
			<pre>{{results.medicinesNames}}</pre>
		</div>
	</div>
	<div class="row">
		<div class="cols-md-4">
			<span>EhtCatalogs.getMedicinesByHint()</span>
			<button class="btn btn-success"
					ng-click="getMedicinesByHint()" 
					type="button">Send</button>
		</div>
		<div class="cols-md-8">
			<pre>{{results.medicines}}</pre>
		</div>
	</div>
</div>