<div>
	Chosen template, country: {{country}}
	<select data-eht-chosen
		data-eht-options="countries"
		ng-model="country"
		ng-options="country.alphaCode3 as country.name for country in countries">
		<option value=""></option>
		<option>This is fun</option>
		<option>I like Chosen so much</option>
		<option>I also like bunny rabbits</option>
	</select>
	<br/>
	<br/>
	<select chosen
		ng-model="country"
		ng-options="country.alphaCode3 as country.name for country in countries">
	</select>
</div>