<div>
	Clockpicker.
	<br>
	Time: {{time}}
	<div class="input-group" eht-clockpicker data-autoclose="true" data-vibrate="true">
        <input type="text" class="form-control" ng-model="time">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
        </span>
    </div>
</div>