<div>
	
	<label>
		Introduce an end date expression:
	</label>
	<input type="text" ng-model="endDate"/>
	{{endDate}}
	<label>
		Select a date:
	</label>
	<input 
		type="text" 
		ng-model="date"
		data-eht-datepicker 
		data-min-view-mode="2"
    	data-format="yyyy-mm-dd"
    	data-autoclose="true"
    	data-end-date="+0y"
    	data-date="date"
    	ng-change="updateDate()"/>
    model value: <span class="code">{{date}}</span><br>
    <input 
		type="text" 
		ng-model="d.date2"
		data-eht-datepicker 
		data-min-view-mode="2"
    	data-format="yyyy-mm-dd"
    	data-autoclose="true"
    	data-end-date="+0y"
    	ng-change="updateDateDos(variable)"
    	data-date="d.date2"/>
    model value: <span class="code">{{date}}</span>


    Probando por rango de fechas
    <div class="form-group">
        <label for="inlineRadio1">Rango de fechas</label>
        <div class="input-daterange input-group" id="datepicker">
            <span class="input-group-addon">del</span>
            <input class="form-control input-sm"
                type="text" 
                name="start" 
                required
                ng-model="startDate"
                data-eht-datepicker 
                data-min-view-mode="0"
                data-autoclose="true"
                data-start-date="+0d"/>
            <span class="input-group-addon">al</span>
            <input class="form-control input-sm"
                type="text" 
                name="end" 
                required
                ng-model="endDate"
                data-eht-datepicker 
                data-min-view-mode="0"
                data-autoclose="true"
                data-start-date="{{startDate}}+1d"/>
        </div>
    </div>
    starting date -> {{startDate}}
    ending date -> {{endDate}}
</div>