<div>
	Dropzone template
	<div data-eht-dropzone 
		data-force-fallback="false"
		data-dict-fallback-button-text="'Seleccionar'"
		data-dict-fallback-loading-text="'Cargando...'"
		data-fallback-button-name="btn-primary"	
		data-dict-remove-file="'Eliminarlo'"
		data-add-remove-links="true"
		data-success="onSuccess" 
		class="dropzone">
	</div>

	Custom URL
	<div>
	Dropzone template
	<div data-eht-dropzone 
		data-force-fallback="false"
		data-dict-fallback-button-text="'Seleccionar'"
		data-dict-fallback-loading-text="'Cargando...'"
		data-fallback-button-name="btn-primary"	
		data-dict-remove-file="'Eliminarlo'"
		data-add-remove-links="true"
		data-success="onSuccess" 
		data-url="'/ehealthtracker-rest/rest/sige/file/SIGE_REQUEST'" 
		class="dropzone">
	</div>
</div>
</div>