<div>
	Timepicker.
	<br>
	Time: {{time}}
	<input data-eht-timepicker 
		   ng-model="time"
		   data-show-hours="true"
		   data-show-minutes="true"
		   data-show-seconds="true"
		   data-format="HH:mm:ss.SSSSSS" />
</div>